.accountInformationPane, .accountOptionsPane {
    margin: 2vh;
}

.accountOptionsPane > button {
    color: black;
    font-size: 100%;
    width: 80%;
    display: block;
    margin: 1vh;
    margin-left: auto;
    margin-right: auto;
}

.accountEventsPane {
    margin: 1vh;
}

.reservation, .order {
    background-color: #f2f2f2;
    margin: 1vh;
    padding: 1vh;
    border-radius: 20px;
}