.changeEmailForm {
    margin: 5%;
    padding: 2%;
    background-color: #f2f2f2;
    border: 1px solid grey;
    border-radius: 15px;
}

.changeEmailForm > input {
    display: block;
    margin: 1vh;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 85%;
    color: black;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid grey;
    font-size: 100%;
    font-weight: 400;
}

.changeEmailForm > button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    padding: 5px;
    width: 85%;
    color: white;
    background-color: rgb(50, 36, 127);
    padding: 5px;
    border-radius: 7px;
    font-size: 100%;
    font-weight: 400;
}